<div class="container mt-4">
    <div class=" container-fluid p-5">
        </div>
        <hr>
    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-6">
            
            <form action="" method="post">
                <div class="mb-2">
                    <input class="form-control" type="text" name="nombre" id="" placeholder="Nombre" value="{{nombreForm}}">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="email" name="email" id="" placeholder="Email" value="{{emailForm}}">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="Localidad" name="localidad" id="" placeholder="Localidad" value="{{localidadForm}}">
                </div>
                <div class="form-floating mb-2">
                <textarea class="form-control" placeholder="Leave a comment here" name="mensaje" id="" placeholder="mensaje" style="height: 100px" value="{{mensajeForm}}"></textarea>
                <label for="floatingTextarea2">Comments</label>
                </div>
                <div>
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
            </form>

            <div class="validacion">
               <p class="text-danger">
                   {{validacion}}
               </p> 
            </div>
        </div>
        <div class="container-fluid col-6 mb-4">
            <div class="">
                <img src="/images/img-form.png" alt="" class="col-12 mb-6 ms-md-6">
            </div>
            
        </div>
        
        
    </div>
</div>